In [1]:
# Import necessary libraries
import pandas as pd
from pycaret.classification import *
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pycaret.classification import *

In [2]:
# Load and examine the dataset structure
data_train = pd.read_csv('dataset/titanic/train.csv')
display(data_train.info())
display(data_train.describe())
display(data_train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Drop unnecessary columns
data_train.drop(['Name', 'Ticket', 'Embarked', 'Cabin', 'PassengerId'], axis=1, inplace=True)

# Split the data into training and testing sets
train_data, test_data = train_test_split(data_train, random_state=42, train_size=0.8)

In [4]:
# Initialize the setup
clf1 = setup(data = data_train, 
             target = 'Survived', 
             categorical_features = ['Pclass','Sex','Age','Fare'])

In [5]:
# Compare models
compare_models(n_select=16)

[LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                    intercept_scaling=1, l1_ratio=None, max_iter=1000,
                    multi_class='auto', n_jobs=None, penalty='l2',
                    random_state=2184, solver='lbfgs', tol=0.0001, verbose=0,
                    warm_start=False),
 RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                 max_iter=None, positive=False, random_state=2184, solver='auto',
                 tol=0.0001),
 KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                      metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                      weights='uniform'),
 LinearDiscriminantAnalysis(covariance_estimator=None, n_components=None,
                            priors=None, shrinkage=None, solver='svd',
                            store_covariance=False, tol=0.0001),
 QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
                               store_covariance=False, tol=0.0001),
 ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                      criterion='gini', max_depth=None, max_features='sqrt',
                      max_leaf_nodes=None, max_samples=None,
                      min_impurity_decrease=0.0, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      monotonic_cst=None, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=2184, verbose=0,
                      warm_start=False),
 GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                            learning_rate=0.1, loss='log_loss', max_depth=3,
                            max_features=None, max_leaf_nodes=None,
                            min_impurity_decrease=0.0, min_samples_leaf=1,
                            min_samples_split=2, min_weight_fraction_leaf=0.0,
                            n_estimators=100, n_iter_no_change=None,
                            random_state=2184, subsample=1.0, tol=0.0001,
                            validation_fraction=0.1, verbose=0,
                            warm_start=False),
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='gini', max_depth=None, max_features='sqrt',
                        max_leaf_nodes=None, max_samples=None,
                        min_impurity_decrease=0.0, min_samples_leaf=1,
                        min_samples_split=2, min_weight_fraction_leaf=0.0,
                        monotonic_cst=None, n_estimators=100, n_jobs=-1,
                        oob_score=False, random_state=2184, verbose=0,
                        warm_start=False),
 AdaBoostClassifier(algorithm='SAMME.R', estimator=None, learning_rate=1.0,
                    n_estimators=50, random_state=2184),
 SGDClassifier(alpha=0.0001, average=False, class_weight=None,
               early_stopping=False, epsilon=0.1, eta0=0.001, fit_intercept=True,
               l1_ratio=0.15, learning_rate='optimal', loss='hinge',
               max_iter=1000, n_iter_no_change=5, n_jobs=-1, penalty='l2',
               power_t=0.5, random_state=2184, shuffle=True, tol=0.001,
               validation_fraction=0.1, verbose=0, warm_start=False),
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                importance_type='split', learning_rate=0.1, max_depth=-1,
                min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
                n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
                random_state=2184, reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
                subsample_for_bin=200000, subsample_freq=0),
 GaussianNB(priors=None, var_smoothing=1e-09),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_samples_leaf=1,
                        min_samples_split=2, min_weight_fraction_leaf=0.0,
                        monotonic_cst=None, random_state=2184, splitter='best'),
 DummyClassifier(constant=None, random_state=2184, strategy='prior')]

In [6]:
# 
model = create_model('rf')  #

In [7]:
#  Optuna
import optuna

In [12]:
#  Optuna 
def objective(trial):
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'max_depth': trial.suggest_int('max_depth', 3, 20),
        'min_samples_split': trial.suggest_int('min_samples_split', 2, 20),
        'min_samples_leaf': trial.suggest_int('min_samples_leaf', 1, 20),
        'max_features': trial.suggest_categorical('max_features', ['sqrt', 'log2'])
    }
    model = create_model('rf', **params)
    tuned_model = tune_model(model)
    #  cross_val_score 
    score = pull().iloc[0]['Accuracy']
    return score

In [13]:
# 
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50)

[I 2024-12-08 22:20:33,443] A new study created in memory with name: no-name-16aac928-32e5-41fb-8cc6-e88720f3764e

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:20:41,341] Trial 0 finished with value: 0.8413 and parameters: {'n_estimators': 395, 'max_depth': 4, 'min_samples_split': 11, 'min_samples_leaf': 13, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:20:47,613] Trial 1 finished with value: 0.8413 and parameters: {'n_estimators': 125, 'max_depth': 13, 'min_samples_split': 7, 'min_samples_leaf': 8, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:20:55,558] Trial 2 finished with value: 0.8413 and parameters: {'n_estimators': 359, 'max_depth': 19, 'min_samples_split': 8, 'min_samples_leaf': 9, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:02,437] Trial 3 finished with value: 0.8413 and parameters: {'n_estimators': 213, 'max_depth': 18, 'min_samples_split': 10, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:12,135] Trial 4 finished with value: 0.8413 and parameters: {'n_estimators': 698, 'max_depth': 19, 'min_samples_split': 3, 'min_samples_leaf': 5, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:21,233] Trial 5 finished with value: 0.8413 and parameters: {'n_estimators': 552, 'max_depth': 14, 'min_samples_split': 12, 'min_samples_leaf': 2, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:28,127] Trial 6 finished with value: 0.8413 and parameters: {'n_estimators': 105, 'max_depth': 10, 'min_samples_split': 8, 'min_samples_leaf': 20, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:35,150] Trial 7 finished with value: 0.8413 and parameters: {'n_estimators': 158, 'max_depth': 16, 'min_samples_split': 18, 'min_samples_leaf': 13, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:42,990] Trial 8 finished with value: 0.8413 and parameters: {'n_estimators': 323, 'max_depth': 12, 'min_samples_split': 5, 'min_samples_leaf': 20, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:21:54,158] Trial 9 finished with value: 0.8413 and parameters: {'n_estimators': 886, 'max_depth': 12, 'min_samples_split': 11, 'min_samples_leaf': 6, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:03,056] Trial 10 finished with value: 0.8413 and parameters: {'n_estimators': 534, 'max_depth': 3, 'min_samples_split': 16, 'min_samples_leaf': 14, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:11,361] Trial 11 finished with value: 0.8413 and parameters: {'n_estimators': 391, 'max_depth': 6, 'min_samples_split': 14, 'min_samples_leaf': 11, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:20,531] Trial 12 finished with value: 0.8413 and parameters: {'n_estimators': 520, 'max_depth': 8, 'min_samples_split': 6, 'min_samples_leaf': 14, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:28,131] Trial 13 finished with value: 0.8413 and parameters: {'n_estimators': 253, 'max_depth': 3, 'min_samples_split': 2, 'min_samples_leaf': 8, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:38,451] Trial 14 finished with value: 0.8413 and parameters: {'n_estimators': 724, 'max_depth': 6, 'min_samples_split': 20, 'min_samples_leaf': 16, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:46,951] Trial 15 finished with value: 0.8413 and parameters: {'n_estimators': 420, 'max_depth': 15, 'min_samples_split': 14, 'min_samples_leaf': 11, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:22:58,894] Trial 16 finished with value: 0.8413 and parameters: {'n_estimators': 988, 'max_depth': 9, 'min_samples_split': 8, 'min_samples_leaf': 17, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:06,590] Trial 17 finished with value: 0.8413 and parameters: {'n_estimators': 271, 'max_depth': 6, 'min_samples_split': 5, 'min_samples_leaf': 5, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

[I 2024-12-08 22:23:16,667] Trial 18 finished with value: 0.8413 and parameters: {'n_estimators': 632, 'max_depth': 14, 'min_samples_split': 13, 'min_samples_leaf': 8, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:25,544] Trial 19 finished with value: 0.8413 and parameters: {'n_estimators': 459, 'max_depth': 11, 'min_samples_split': 9, 'min_samples_leaf': 17, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:32,515] Trial 20 finished with value: 0.8413 and parameters: {'n_estimators': 110, 'max_depth': 8, 'min_samples_split': 6, 'min_samples_leaf': 12, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:40,851] Trial 21 finished with value: 0.8413 and parameters: {'n_estimators': 351, 'max_depth': 17, 'min_samples_split': 8, 'min_samples_leaf': 9, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:48,186] Trial 22 finished with value: 0.8413 and parameters: {'n_estimators': 201, 'max_depth': 20, 'min_samples_split': 10, 'min_samples_leaf': 9, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:23:56,134] Trial 23 finished with value: 0.8413 and parameters: {'n_estimators': 303, 'max_depth': 14, 'min_samples_split': 7, 'min_samples_leaf': 7, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:24:06,081] Trial 24 finished with value: 0.8413 and parameters: {'n_estimators': 476, 'max_depth': 20, 'min_samples_split': 4, 'min_samples_leaf': 3, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:24:17,157] Trial 25 finished with value: 0.8413 and parameters: {'n_estimators': 378, 'max_depth': 17, 'min_samples_split': 11, 'min_samples_leaf': 10, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

[I 2024-12-08 22:24:28,858] Trial 26 finished with value: 0.8413 and parameters: {'n_estimators': 603, 'max_depth': 5, 'min_samples_split': 9, 'min_samples_leaf': 4, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:24:36,532] Trial 27 finished with value: 0.8413 and parameters: {'n_estimators': 202, 'max_depth': 11, 'min_samples_split': 16, 'min_samples_leaf': 13, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:24:45,648] Trial 28 finished with value: 0.8413 and parameters: {'n_estimators': 425, 'max_depth': 16, 'min_samples_split': 7, 'min_samples_leaf': 10, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:24:53,334] Trial 29 finished with value: 0.8413 and parameters: {'n_estimators': 255, 'max_depth': 18, 'min_samples_split': 10, 'min_samples_leaf': 15, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:00,341] Trial 30 finished with value: 0.8413 and parameters: {'n_estimators': 172, 'max_depth': 13, 'min_samples_split': 13, 'min_samples_leaf': 7, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:07,661] Trial 31 finished with value: 0.8413 and parameters: {'n_estimators': 226, 'max_depth': 19, 'min_samples_split': 9, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:15,688] Trial 32 finished with value: 0.8413 and parameters: {'n_estimators': 326, 'max_depth': 18, 'min_samples_split': 11, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:22,222] Trial 33 finished with value: 0.8413 and parameters: {'n_estimators': 101, 'max_depth': 19, 'min_samples_split': 12, 'min_samples_leaf': 3, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:29,950] Trial 34 finished with value: 0.8413 and parameters: {'n_estimators': 292, 'max_depth': 16, 'min_samples_split': 7, 'min_samples_leaf': 5, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:37,134] Trial 35 finished with value: 0.8413 and parameters: {'n_estimators': 141, 'max_depth': 18, 'min_samples_split': 10, 'min_samples_leaf': 12, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:44,011] Trial 36 finished with value: 0.8413 and parameters: {'n_estimators': 166, 'max_depth': 13, 'min_samples_split': 3, 'min_samples_leaf': 6, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:52,104] Trial 37 finished with value: 0.8413 and parameters: {'n_estimators': 346, 'max_depth': 15, 'min_samples_split': 12, 'min_samples_leaf': 18, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:25:59,461] Trial 38 finished with value: 0.8413 and parameters: {'n_estimators': 225, 'max_depth': 10, 'min_samples_split': 5, 'min_samples_leaf': 13, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:26:09,837] Trial 39 finished with value: 0.8413 and parameters: {'n_estimators': 729, 'max_depth': 4, 'min_samples_split': 15, 'min_samples_leaf': 9, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:26:20,792] Trial 40 finished with value: 0.8413 and parameters: {'n_estimators': 808, 'max_depth': 20, 'min_samples_split': 9, 'min_samples_leaf': 3, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:26:31,796] Trial 41 finished with value: 0.8413 and parameters: {'n_estimators': 626, 'max_depth': 19, 'min_samples_split': 3, 'min_samples_leaf': 6, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:26:41,270] Trial 42 finished with value: 0.8413 and parameters: {'n_estimators': 500, 'max_depth': 17, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:26:50,921] Trial 43 finished with value: 0.8413 and parameters: {'n_estimators': 563, 'max_depth': 16, 'min_samples_split': 6, 'min_samples_leaf': 7, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:02,112] Trial 44 finished with value: 0.8413 and parameters: {'n_estimators': 784, 'max_depth': 19, 'min_samples_split': 4, 'min_samples_leaf': 5, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:11,127] Trial 45 finished with value: 0.8413 and parameters: {'n_estimators': 410, 'max_depth': 7, 'min_samples_split': 8, 'min_samples_leaf': 8, 'max_features': 'sqrt'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:20,817] Trial 46 finished with value: 0.8413 and parameters: {'n_estimators': 576, 'max_depth': 15, 'min_samples_split': 11, 'min_samples_leaf': 11, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:31,379] Trial 47 finished with value: 0.8413 and parameters: {'n_estimators': 667, 'max_depth': 18, 'min_samples_split': 13, 'min_samples_leaf': 4, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:43,156] Trial 48 finished with value: 0.8413 and parameters: {'n_estimators': 888, 'max_depth': 9, 'min_samples_split': 6, 'min_samples_leaf': 12, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[I 2024-12-08 22:27:52,283] Trial 49 finished with value: 0.8413 and parameters: {'n_estimators': 441, 'max_depth': 20, 'min_samples_split': 10, 'min_samples_leaf': 14, 'max_features': 'log2'}. Best is trial 0 with value: 0.8413.

In [14]:
# 
best_trial = study.best_trial
print(f'Best trial: {best_trial.params}')

Best trial: {'n_estimators': 395, 'max_depth': 4, 'min_samples_split': 11, 'min_samples_leaf': 13, 'max_features': 'log2'}

In [15]:
# 
best_params = best_trial.params
model = create_model('rf', **best_params)
tuned_model = tune_model(model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [17]:
# 
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [18]:
# 
save_model(tuned_model, 'best_tuned_model_optuna')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None, include=['SibSp', 'Parch'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Pclass', 'Sex', 'Age', 'Fare...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight={}, criterion='entropy',
                                         max_depth=8, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0005,
                                         min_samples_leaf=2,
                                         min_samples_split=10,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=180,
                                         n_jobs=-1, oob_score=False,
                                         random_state=2184, verbose=0,
                                         warm_start=False))],
          verbose=False),
 'best_tuned_model_optuna.pkl')